* {
    background-color: palegreen;
    font-family: georgia courier sans-serif;
    
}

/* header elements */

header {
   margin: auto;
}

.main-header {
    font-size: 4em;
    text-align: center;
    color: darkgreen;
    align-content: center;
    margin: auto;
    flex-wrap:wrap;
    
}

#header-paragraph {
    font-size: 1.25em;
    text-align: center;
    padding: .5em;
    outline: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* character links */

.navbar {
    font-size: 1.75em;
    text-align: center;
    margin: auto;
}

.navbar a {
    padding-right: 9px;
}

a {
    color: forestgreen;
    text-decoration: none;
}

a:visited {
    color: darkgreen;
}

/* map */

.map {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 75%;
    width: 90%;
    
}

/* headings for map and characters */

.headings {
   text-align: center;
    margin: 0;
}

/* character profiles */

.characters {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

ul {
    text-align: center;
    align-content: center;
}

li { 
 border: 5px solid green;
    padding: .5em;
    margin: 5px;
    text-align: center;
    list-style-type: none;
    }



.container {
    background-color: lightgreen;
    align-items: center;
}

/* footer */

.main-footer {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: 5px solid green;
    
}

/* Begin media queries */




@media screen and (min-width: 800px) {
    li {
        height: 80%;
        width: 95%;
        display: inline-block;
        list-style-type: none;
    }
    
    .container {
    display: inline-block;
    height: 60%;
    width: 40%;
    border: 7px solid green;
    padding: .5em;
    margin: 2px;
    text-align: center;
    }
    
    .map {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
    
}

@media screen and (min-width: 1000px) {
     li {
        height: 80%;
        width: 95%;
        display: inline-block;
        list-style-type: none;
    }
    
    .container {
    display: inline-block;
    height: 60%;
    width: 40%;
    border: 10px solid green;
    padding: .5em;
    margin: 10px;
    text-align: center;
    }
    
    .map {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
}


